
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: "the-seasons", "The Seasons", "Bodoni Moda", serif;
}

body {
  font-family: var(--font-main);
}

.font-gemola {
  font-family: var(--font-main);
  font-weight: 400; 
}